.imgItem {
    height: 180px;
    width: auto;
}
ion-content{
    --background: rgb(91,91,91);
    --background: linear-gradient(90deg, rgba(91,91,91,1) 0%, rgba(167,166,166,1) 50%, rgba(91,91,91,1) 96%);
}